# It is recommended to install PyTorch and torchaudio manually.
# PyTorch >= 2.0 is recommended. Some legacy workflows may still work on 1.13,
# but recent transformers versions may warn or disable PyTorch support there.
# See instructions at https://pytorch.org/get-started/locally/
#
# fairseq==0.12.2 is used for legacy ContentVec checkpoints and should be
# installed with pip==24.0:
#   python -m pip install pip==24.0

click
einops>=0.7.0
fairseq==0.12.2
gin-config
h5py
librosa<0.10.0
lightning~=2.3.0
matplotlib
MonkeyType==23.3.0
numpy<2.0.0
onnx~=1.16.0
onnxsim~=0.4.36
praat-parselmouth==0.4.3
pyworld==0.3.4
PyYAML
resampy
scikit-learn
scipy>=1.10.0
soundfile
tensorboard
tensorboardX
torchcrepe
torchmetrics
transformers
tqdm
